<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="myService" class="com.ian.spring.struts.service.impl.MyServiceImpl"/>
	
	<bean id="loginAction" class="com.ian.spring.struts.action.LoginAction" scope="prototype">
		<property name="myService" ref="myService"/>
	</bean>		
	
</beans>